/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{font-family: Georgia, 'Times New Roman', Times, serif;
   size: 100px;
  color:#f4f4f4}
img{
   width:200px;
    height:100px;
    border-radius: 60%;
  border: double lightpink 2px;}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color:  #e38aae;;
  color:#000;
  padding: 1rem 0;
 
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul li a {
  color: #000;
  text-decoration: none;

}
a:hover{
    color:white;
    text-decoration: underline;
    
}
.hero {
  background: url('shopping.jpg') no-repeat center center/cover;
  height: 80vh;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}

.hero h2 {
  font-size: 5rem;
  margin: 20px;
}

.hero p {
  font-size: 1.2rem;
  justify-content:right;
  margin-bottom: 2rem;
}

.hero .btn {
  background-color: #f4b400;
  color: #333;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
}

.features {
  padding: 4rem 2rem;
  background-color: #f4f4f4;
  text-align: center;
}

.features h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.feature-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 30px;
  color:#e38aae;
  
}

.feature {
  background-color: #fff;
  padding: 1.5rem;
  width: 30%;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 30px;
}

.feature:hover {
  transform: translateY(-5px);
}
#contact p {
  text-align: center;
  font-size: 1.2rem;
}

#contact a {
  color: #333;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}
